:root{
  --sidebar-width: 320px;
  --content-width: 85%;
  --code-ln-wrapper-width: 10px;
  --c-brand: #488019;
  --c-brand-light: #64b620;
  --c-text-accent: #488019;
}

.theme-default-content pre, .theme-default-content pre[class*=language-] {
  padding: 1rem;
}

div[class*=language-].line-numbers-mode .line-numbers {
  padding-top: 1rem;
}

#app {
  overflow-y: auto !important;
}
